
.hidden {display: none; }


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
    border: 1px solid rgba(255, 255, 255, 0.904);
}

ol { float: left;


}

h1 {
color: navy;

}


h3 {
color: navy;

}

button {
background-color: grey;
color: navy;
}
